@import "../css/despesas.css";
@import "../css/ganhos.css";
@import "../css/header.css";
@import "../css/home.css";

*{
    margin: 0;
    padding: 0;
}

:root {
    --base-green: #45b08c;
    --base-gray: #d9d9d9;
    --input-height: 3.5em;
    --input-padding: 1em;
    --input-font-size: 1.2em;
}

