<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ganhos</title>
    <link rel="stylesheet" href="../static/css/ganhos.css">
</head>
<body>
    <header>
        <div class="logo">
            <img id="imglogo" src="../static/images/logo.png" alt="">
        </div>
        <div class="perfil">
            <img id="imgperfil" src="../static/images/perfil.png" alt="">
        </div>
    </header>
    <div class="valor">
        <div class="divimgolho"><img id="imgolho" src="../static/images/olho.png" alt=""></div>
        <div class="divvalortotal"><h2>R$ 12.596</h2></div>
        
    </div>
</body>
</html>