<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/login.js" defer></script>
    <title>Login</title>
</head>
<body>
    <div class="all">
        <div class="left">
            <form action="{{ url_for('login.autenticar') }}" id="form-left" method="GET">
                <h1 style="color: white;">{% if error %} {{error}} {% else %} BEM-VINDO! {% endif %}</h1>
            
                <div class="inputs" id="lfi">
                    <input accept="all" type="text" class="base_input" placeholder="Usuário" name="usuariologin">
                    <input type="password" class="base_input" placeholder="Senha" name="passwlogin">
                </div>
            
                <div class="logo logoleft"><img src="../static/images/cifrao.png" alt=""></div>
            
                <button class="white_base_button" type="button" onclick="loginb()">Login</button>
            </form>
        </div>
        <div class="right">
            <form action="{{ url_for('login.register') }}">
            <h1 class="title">Crie uma conta</h1>
            <div class="inputs" id="rgi">
                <input type="text" class="base_input" placeholder="Usuário" name="usuario">
                <input type="password" class="base_input" placeholder="Senha" name="senha">
            </div>
            <div class="logo logoright"><img src="../static/images/cifrão2.png" alt=""></div>
            
            <div class="box-cad">
                <button class="green_base_button" onclick="cadb()" type="button">Cadastrar</button>
            </div>
            </form>
        </div>
    </div>
    <div id="snackbar" class="snackbar"></div>
</body>
</html>